Flask
gunicorn
pandas
numpy
openpyxl
lxml
requests
beautifulsoup4
flask-cors
sqlalchemy
psycopg2-binary
python-dotenv
pytest
pytest-flask
marshmallow
marshmallow-sqlalchemy
flasgger
flask-swagger-ui
flask-migrate
alembic
celery
redis